<template>
  <footer>
    <div class="footer-container">
      <div class="common-info columns">
        <div>
          Support Center
        </div>
        <div class="contacts columns">
          <div>
            800-25-Platt
          </div>
          <div>
            <a href="tel:8002575288" class="phone">
              800-257-5288
            </a>
          </div>
        </div>
        <div class="schedule columns">
          <div>
            4 a.m. - 12 a.m. (pst)
          </div>
          <div>
            7 Day a week
          </div>
        </div>
      </div>
      <ButtonLink
        text="Live Help"
        class="command"
      />
      <div class="links">
        <a href="#">Contact Us</a>
        <a href="#">What's New</a>
        <a href="#">FAQ's</a>
      </div>
    </div>
  </footer>
</template>

<script>
import ButtonLink from "@/components/forms/ButtonLink.vue";

export default {
  name: "Footer",
  components: {
    ButtonLink
  }
}
</script>

<style lang="scss" scoped>
  footer {
    background-color: #666666;
    color: #ffffff;
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
    padding: 30px 0;

    a {
      color: #ffffff;
    }

    .footer-container {
      display: flex;
      flex-direction: column;

      .columns {
        display: flex;
        flex-direction: column;
      }

      .common-info {
        gap: 20px;

        .contacts {
          gap: 5px;

          .phone {
            font-weight: 300;
            font-size: 24px;
            line-height: 26px;
          }
        }

        .schedule {
          color: #d3d3d3;
        }
      }

      .command {
        margin: 50px auto;

        @media screen and (max-width: 576px) {
          margin: 30px auto;
        }
      }
    }

    .links {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
</style>