<template>
  <header>
    <div class="menu">
      <a href="#" class="logo link-image">
        <img src="@/assets/img/logo.png" alt="logo">
      </a>
      <nav>
        <ul>
          <li>
            <LinkImage
                img-name="ic_search.png"
            />
          </li>
          <li>
            <LinkImage
                img-name="ic_shopping_cart.png"
            />
          </li>
          <li>
            <LinkImage
                img-name="ic_person.png"
                is-selected
            />
          </li>
          <li>
            <LinkImage
                img-name="ic_menu.png"
            />
          </li>
        </ul>
      </nav>
    </div>
    <div class="search-container">
      <DropdownInputImage
        placeholder="What a you looking for?"
        img-path="/assets/ic/black/ic_search.png"
      />
    </div>
  </header>
</template>

<script>
import LinkImage from "@/components/common/LinkImage.vue";
import DropdownInputImage from "@/components/forms/DropdownInputImage.vue";

export default {
  name: "Header",
  components: {
    LinkImage,
    DropdownInputImage
  },
}
</script>

<style lang="scss" scoped>
  header {
    background-color: #083;
    padding: 8px 16px;

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        gap: 10px;
      }
    }

    .search-container {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
</style>