<template>
  <div class="container block">
    <LinkMarker
        img-path="assets/ic/black/ic_categories.png"
        text="Shop all categories"
        class="categories-title"
    />
    <div class="categories-grid">
      <div v-for="(item, key) in categories"
           :key="key"
           class="category-item"
      >
        <LinkMarker
            :img-path="item.imgPath"
            :text="item.text"
        />
        <img src="/assets/ic/black/ic_arrow_forward.png" alt="arrow">
      </div>
    </div>
  </div>
</template>

<script>
import LinkMarker from "@/components/common/LinkMarker.vue";

export default {
  name: "CategoryBlock",
  components: {
    LinkMarker,
  },
  data () {
    return {
      categories: [
        {
          imgPath: '/assets/ic/black/ic_playlist_add_check.png',
          text: 'My Catalog'
        },
        {
          imgPath: '/assets/ic/black/ic_list.png',
          text: 'My List'
        },
        {
          imgPath: '/assets/ic/green/ic_chat - active.png',
          text: 'Live Help'
        },
        {
          imgPath: '/assets/ic/black/ic_check_circle.png',
          text: 'PIM'
        },
        {
          imgPath: '/assets/ic/black/ic_chat.png',
          text: 'Account'
        },
        {
          imgPath: '/assets/ic/black/ic_place.png',
          text: 'Branch Locations'
        },
      ],
    }
  }
}
</script>

<style lang="scss" scoped>
.categories-title {
  font-size: 22px;
  line-height: 24px;
  padding: 15px;
}
.categories-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  .category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-collapse: collapse;

    @media screen and (max-width: 576px) {
      border: none;
      border-top: 1px solid #c9c9c9;
    }
  }

  @media screen and (max-width: 576px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
</style>