<template>
  <div class="container block">
    <div class="info-grid">
      <Shadowbox
          class="get-started-block"
      >
        <img src="/assets/img/platt-plus.png" alt="image">
        <div class="get-started">
          <div>
            <div class="line1">Get Started Today</div>
            <div class="line2">Become a
              <span class="colored">Platt Plus</span>
              Member
            </div>
          </div>
          <ButtonLink
              text="Learn more"
          />
        </div>
      </Shadowbox>

      <Shadowbox class="deals-block">
        <img src="/assets/panel/deal.png" alt="image">
      </Shadowbox>

      <Shadowbox class="view-block">
        <div class="links">
          <span>Recently Viewed</span>
          <a href="#" class="colored">
            View All
          </a>
        </div>
        <div class="viewed">
          <img
              v-for="(item, key) in viewed"
              :key="key"
              :src="item.imgPath"
              alt="image"
          >
        </div>
      </Shadowbox>
    </div>
  </div>
</template>

<script>
import Shadowbox from "@/components/common/Shadowbox.vue";
import ButtonLink from "@/components/forms/ButtonLink.vue";

export default {
  name: "GetStartedBlock",
  components: {
    Shadowbox,
    ButtonLink,
  },
  data() {
    return {
      viewed: [
        {
          imgPath: '/assets/recent/11.png'
        },
        {
          imgPath: '/assets/recent/22.png'
        },
        {
          imgPath: '/assets/recent/22.png'
        },
      ],
    }
  }
}
</script>

<style lang="scss" scoped>
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;

  .colored {
    color: #009742;
  }

  .get-started-block {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    img {
      width: 100%;
      max-width: 260px;
      height: auto;
    }

    .get-started {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-weight: 700;
      color: #2d2d2d;

      .line1 {
        font-size: 18px;
        line-height: 22px;
      }

      .line2 {
        font-size: 16px;
        line-height: 20px;
      }
    }

    @media screen and (max-width: 576px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .deals-block {
    img {
      object-fit: contain;
      object-position: top center;
    }

    @media screen and (max-width: 576px) {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .view-block {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 10px;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .viewed {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (max-width: 576px) {
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }
}
</style>