<template>
  <div class="container block">
    <h1>Product markets</h1>
    <div class="markets">
      <HalfImageBox
          v-for="(item, key) in markets"
          :key="key"
          :img-path="item.imgPath"
          :text="item.text"
          class="box"
      />
    </div>
  </div>
</template>

<script>
import HalfImageBox from "@/components/common/HalfImageBox.vue";

export default {
  name: "MarketBlock",
  components: {
    HalfImageBox,
  },
  data() {
    return {
      markets: [
        {
          imgPath: '/assets/img/datacomm.png',
          text: 'DataComm',
        },
        {
          imgPath: '/assets/img/hvac.png',
          text: 'HVAC',
        },
        {
          imgPath: '/assets/img/industrial.png',
          text: 'Industrial',
        },
        {
          imgPath: '/assets/img/lighting.png',
          text: 'Lighting',
        },
        {
          imgPath: '/assets/img/energy.png',
          text: 'Energy Efficiency',
        },
        {
          imgPath: '/assets/img/utility.png',
          text: 'Utility',
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
  h1 {
    margin: 20px auto;
  }
  .markets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .box {
      max-width: 100px;
      grid-template-rows: repeat(2, 1fr);
    }
  }
</style>