<template>
  <div class="container block">
    <div
        class="tools-container"
    >
      <HalfImageBox
          v-for="(item, key) in tools"
          :key="key"
          :img-path="item.imgPath"
          :text="item.text"
          class="tools-box"
      />
    </div>
  </div>
</template>

<script>
import HalfImageBox from "@/components/common/HalfImageBox.vue";

export default {
  name: "ToolsBlock",
  components: {
    HalfImageBox
  },
  data() {
    return {
      tools: [
        {
          imgPath: '/assets/img/super-tool-day.png',
          text: 'Super Tool Day & Dynamic Data Day'
        },
        {
          imgPath: '/assets/img/ic_location_b.png',
          text: 'Branch Locations'
        },
        {
          imgPath: '/assets/img/ic_helpcenter.png',
          text: 'Help Center'
        },
        {
          imgPath: '/assets/img/ic_platt-u.png',
          text: 'Platt University'
        },
      ],
    }
  }
}
</script>

<style lang="scss" scoped>
  .tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tools-box {
      padding: 15px;
      width: 120px;
      grid-template-rows: 1fr 70px;
    }
  }
</style>