<template>
  <div class="content">

    <CategoryBlock />

    <MarketBlock />

    <GetStartedBlock />

    <div class="container block">
      <HalfImageBox
          img-path="/assets/panel/app-get-banner.png"
          text="Shop better, download the Platt App today"
          class="get-apps"
      />
    </div>

  </div>
</template>

<script>
import HalfImageBox from "@/components/common/HalfImageBox.vue";
import LinkMarker from "@/components/common/LinkMarker.vue";
import CategoryBlock from "@/components/layouts/main/blocks/CategoryBlock.vue";
import MarketBlock from "@/components/layouts/main/blocks/MarketBlock.vue";
import GetStartedBlock from "@/components/layouts/main/blocks/GetStartedBlock.vue";

export default {
  name: 'Home',
  components: {
    HalfImageBox,
    LinkMarker,
    CategoryBlock,
    MarketBlock,
    GetStartedBlock,
  },
}
</script>

<style lang="scss" scoped>
  .get-apps {
    grid-template-rows: 1fr 50px;
  }
</style>
