<template>
  <Shadowbox
    class="half-grid"
  >
    <img :src="imgPath" alt="image">
    <div class="text-container">
      {{ text }}
    </div>
  </Shadowbox>
</template>

<script>
import Shadowbox from "@/components/common/Shadowbox.vue";

export default {
  name: "HalfImageBox",
  components: {
    Shadowbox
  },
  props: {
    imgPath: {
      type: String,
      require: true,
    },
    text: {
      type: String,
      require: true,
    }
  }
}
</script>

<style lang="scss" scoped>
  .half-grid {
    display: grid;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: top center;
    }

    .text-container {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-wrap: break-word;
      font-weight: 600;
      color: black;
    }
  }
</style>