<template>
  <a href="" class="link-image parent">
    <img :src="imgPath" :alt="imgAlt">
    <div v-if="isSelected"
          class="colored child"
    ></div>
  </a>
</template>

<script>
export default {
  name: "LinkImage",
  props: {
    imgName: {
      type: String,
      require: true,
    },
    imgAlt: {
      type: String,
      default: 'image',
    },
    isSelected: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    imgPath() {
      return `/assets/ic/white/${this.imgName}`
    }
  }
}
</script>

<style lang="scss" scoped>
  a {
    height: 100%;
    width: auto;
  }
  .parent {
    position: relative;
  }
  .child {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  .colored {
    background-color: #febe10;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
</style>