<template>
    <a :href="link" class="link">
      <img :src="imgPath" alt="image">
      <span>{{ text }}</span>
    </a>
</template>

<script>
export default {
  name: "LinkMarker",
  props: {
    link: {
      type: String,
      default: '#',
    },
    text: {
      type: String,
      require: true,
    },
    imgPath: {
      type: String,
      require: true,
    }
  },
}
</script>

<style lang="scss" scoped>
  .link {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    color: #2b2b2b;
    font-size: 18px;
    line-height: 22px;

    img {
      width: 20px;
      height: auto;
    }
  }
</style>