<template>
  <div class="shadowed">
    <slot />
  </div>
</template>

<script>
export default {
  name: "Shadowbox"
}
</script>

<style lang="scss" scoped>
  .shadowed {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  }
</style>