<template>
  <div>
    <Header/>
    <main>
      <router-view/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Footer from "@/components/layouts/main/Footer.vue";
import Header from "@/components/layouts/main/Header.vue";

export default {
  name: "Main",
  components: {
    Footer,
    Header,
  }
}
</script>

<style lang="scss">
  body {
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
  }

  a.link-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 752px;
    width: 100%;
    margin: 0 auto;
    color: black;

    @media screen and (max-width: 576px ) {
      max-width: 540px;
    }
  }

  .block {
    margin-bottom: 20px;
  }
</style>