<template>
    <a :href="link">
      <img
          v-if="imgPath"
          :src="imgPath"
          :alt="text"
      >
      <span>{{ text }}</span>
    </a>
</template>

<script>
export default {
  name: "Button-link",
  props: {
    text: {
      type: String,
      require: true,
    },
    link: {
      type: String,
      default: '#'
    },
    imgPath: {
      type: String,
      default: null,
    }
  }
}
</script>

<style lang="scss" scoped>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d2d2d!important;
    font-weight: 200;
    background-color: #eee;
    width: 300px;
    height: 60px;
    border-radius: 30px;
  }
</style>