<template>
  <div class="parent">
    <InputImage
      :placeholder="placeholder"
      :img-path="imgPath"
      v-model="searchText"
      @blur="onBlur()"
    />
    <div class="dropdown-list child"
      v-if="isOpen && dropdownItems"
    >
      <ul>
        <li v-for="(item, key) in dropdownItems"
          :key="key"
            @click="onSelect(item)"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import InputImage from "@/components/forms/InputImage.vue";
import { mapGetters, mapActions } from 'vuex';

export default {
  name: "DropdownInputImage",
  components: {
    InputImage,
  },
  props: {
    placeholder: {
      type: String,
      default: 'Enter',
    },
    imgPath: {
      type: String,
      default: null,
    }
  },
  data() {
    return {
      searchText: '',
      isOpen: false,
      isAutocomplete: false,
    }
  },
  mounted() {
    this.getData();
  },
  computed: {
    ...mapGetters({
      getDogItems: 'search/getDogItems',
    }),
    dropdownItems() {
      return this.getDogItems(this.searchText);
    },
  },
  watch: {
    searchText (val) {
      if(val && !this.isAutocomplete) {
        this.isOpen = true;
      }
      this.isAutocomplete = false;
    }
  },
  methods: {
    ...mapActions({
      getData: 'search/getDogData',
    }),
    onSelect(value) {
      this.isAutocomplete = true;
      this.searchText = value;
      this.isOpen = false;
    },
    onBlur() {
      setTimeout(() => {
        this.isOpen = false;
      }, 100)
    }
  }
}
</script>

<style lang="scss" scoped>
  li {
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
      color: white;
    }
  }
  .parent {
    position: relative;
  }
  .child {
    position: absolute;
    width: 100%;
    min-width: 150px;
    top: calc(100% + 1px);
    left: 0;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 300px;
  }
</style>