<template>
  <div class="input-container parent">
    <input
        type="text"
        :placeholder="placeholder"
        :value="value"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur', $event)"
    >
    <img
        v-if="imgPath"
        alt="image"
        :src="imgPath"
        class="child"
    >
  </div>
</template>

<script>
export default {
  name: "InputImage",
  props: {
    placeholder: {
      type: String,
      default: 'Enter',
    },
    imgPath: {
      type: String,
      default: null,
    },
    value: {
      type: String,
      default: null,
    }
  },
}
</script>

<style lang="scss" scoped>
  .input-container {
    input {
      padding: 15px;
      border-radius: 5px;
      width: 100%;
      border: none;
      display: inline-block;
      box-sizing: border-box;
      font-size: 16px;
    }
  }
  .parent {
    position: relative;
  }
  .child {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
</style>